<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
            {{>header}}
            <p>This site was created by Kalyan Sarat . It uses the data from mapbox cloud and weather stack.</p>
             <img src="/img/robot.png" alt="Robot" class="aboutimg">
        </div>
        
         {{>footer}}
    </body>

</html>